# Testing and code checking
hypothesis
pytest
python-ta

# Graphics and data visualization
plotly
plotly-express

# User interface
Pillow

# Imports
# python3-tk #tkinter
# psutilPIP

# Data Reading
pandas
